/*-------------------- ESTILOS GLOBALES --------------------*/

/*---------- Gradilla de letra responsive ----------*/

/*----- Orientación horizontal -----*/
@media (orientation: landscape) and (min-width: 7681px) {
    body {
        font-size: 114px;
    }
}
@media (orientation: landscape) and (max-width: 7680px) {
    body {
        font-size: 104px;
    }
}
@media (orientation: landscape) and (max-width: 7131px) {
    body {
        font-size: 99px;
    }
}
@media (orientation: landscape) and (max-width: 6582px) {
    body {
        font-size: 94px;
    }
}
@media (orientation: landscape) and (max-width: 6034px) {
    body {
        font-size: 89px;
    }
}
@media (orientation: landscape) and (max-width: 5485px) {
    body {
        font-size: 84px;
    }
}
@media (orientation: landscape) and (max-width: 4937px) {
    body {
        font-size: 79px;
    }
}
@media (orientation: landscape) and (max-width: 4388px) {
    body {
        font-size: 74px;
    }
}
@media (orientation: landscape) and (max-width: 3840px) {
    body {
        font-size: 69px;
    }
}
@media (orientation: landscape) and (max-width: 3584px) {
    body {
        font-size: 64px;
    }
}
@media (orientation: landscape) and (max-width: 3328px) {
    body {
        font-size: 59px;
    }
}
@media (orientation: landscape) and (max-width: 3072px) {
    body {
        font-size: 54px;
    }
}
@media (orientation: landscape) and (max-width: 2816px) {
    body {
        font-size: 49px;
    }
}
@media (orientation: landscape) and (max-width: 2560px) {
    body {
        font-size: 44px;
    }
}
@media (orientation: landscape) and (max-width: 2432px) {
    body {
        font-size: 42px;
    }
}
@media (orientation: landscape) and (max-width: 2304px) {
    body {
        font-size: 40px;
    }
}
@media (orientation: landscape) and (max-width: 2176px) {
    body {
        font-size: 38px;
    }
}
@media (orientation: landscape) and (max-width: 2048px) {
    body {
        font-size: 36px;
    }
}
@media (orientation: landscape) and (max-width: 1920px) {
    body {
        font-size: 34px;
    }
}
@media (orientation: landscape) and (max-width: 1792px) {
    body {
        font-size: 32px;
    }
}
@media (orientation: landscape) and (max-width: 1664px) {
    body {
        font-size: 30px;
    }
}
@media (orientation: landscape) and (max-width: 1536px) {
    body {
        font-size: 28px;
    }
}
@media (orientation: landscape) and (max-width: 1408px) {
    body {
        font-size: 26px;
    }
}
@media (orientation: landscape) and (max-width: 1280px) {
    body {
        font-size: 24px;
    }
}
@media (orientation: landscape) and (max-width: 1152px) {
    body {
        font-size: 22px;
    }
}
@media (orientation: landscape) and (max-width: 1024px) {
    body {
        font-size: 20px;
    }
}
@media (orientation: landscape) and (max-width: 896px) {
    body {
        font-size: 18px;
    }
}
@media (orientation: landscape) and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}
@media (orientation: landscape) and (max-width: 640px) {
    body {
        font-size: 14px;
    }
}
@media (orientation: landscape) and (max-width: 608px) {
    body {
        font-size: 13px;
    }
}
@media (orientation: landscape) and (max-width: 576px) {
    body {
        font-size: 12px;
    }
}
@media (orientation: landscape) and (max-width: 480px) {
    body {
        font-size: 11px;
    }
}
@media (orientation: landscape) and (max-width: 470px) {
    body {
        font-size: 10px;
    }
}
@media (orientation: landscape) and (max-width: 460px) {
    body {
        font-size: 9px;
    }
}
@media (orientation: landscape) and (max-width: 426px) {
    body {
        font-size: 8px;
    }
}
@media (orientation: landscape) and (max-width: 392px) {
    body {
        font-size: 7px;
    }
}
@media (orientation: landscape) and (max-width: 358px) {
    body {
        font-size: 6px;
    }
}
@media (orientation: landscape) and (max-width: 256px) {
    body {
        font-size: 5px;
    }
}

/*----- Orientación vertical -----*/
@media (orientation: portrait) and (max-height: 7681px) {
    body {
        font-size: 114px;
    }
}
@media (orientation: portrait) and (max-height: 7680px) {
    body {
        font-size: 104px;
    }
}
@media (orientation: portrait) and (max-height: 7131px) {
    body {
        font-size: 99px;
    }
}
@media (orientation: portrait) and (max-height: 6582px) {
    body {
        font-size: 94px;
    }
}
@media (orientation: portrait) and (max-height: 6034px) {
    body {
        font-size: 89px;
    }
}
@media (orientation: portrait) and (max-height: 5485px) {
    body {
        font-size: 84px;
    }
}
@media (orientation: portrait) and (max-height: 4937px) {
    body {
        font-size: 79px;
    }
}
@media (orientation: portrait) and (max-height: 4388px) {
    body {
        font-size: 74px;
    }
}
@media (orientation: portrait) and (max-height: 3840px) {
    body {
        font-size: 69px;
    }
}
@media (orientation: portrait) and (max-height: 3584px) {
    body {
        font-size: 64px;
    }
}
@media (orientation: portrait) and (max-height: 3328px) {
    body {
        font-size: 59px;
    }
}
@media (orientation: portrait) and (max-height: 3072px) {
    body {
        font-size: 54px;
    }
}
@media (orientation: portrait) and (max-height: 2816px) {
    body {
        font-size: 49px;
    }
}
@media (orientation: portrait) and (max-height: 2560px) {
    body {
        font-size: 44px;
    }
}
@media (orientation: portrait) and (max-height: 2432px) {
    body {
        font-size: 42px;
    }
}
@media (orientation: portrait) and (max-height: 2304px) {
    body {
        font-size: 40px;
    }
}
@media (orientation: portrait) and (max-height: 2176px) {
    body {
        font-size: 38px;
    }
}
@media (orientation: portrait) and (max-height: 2048px) {
    body {
        font-size: 36px;
    }
}
@media (orientation: portrait) and (max-height: 1920px) {
    body {
        font-size: 34px;
    }
}
@media (orientation: portrait) and (max-height: 1792px) {
    body {
        font-size: 32px;
    }
}
@media (orientation: portrait) and (max-height: 1664px) {
    body {
        font-size: 30px;
    }
}
@media (orientation: portrait) and (max-height: 1536px) {
    body {
        font-size: 28px;
    }
}
@media (orientation: portrait) and (max-height: 1408px) {
    body {
        font-size: 26px;
    }
}
@media (orientation: portrait) and (max-height: 1280px) {
    body {
        font-size: 24px;
    }
}
@media (orientation: portrait) and (max-height: 1152px) {
    body {
        font-size: 22px;
    }
}
@media (orientation: portrait) and (max-height: 1024px) {
    body {
        font-size: 20px;
    }
}
@media (orientation: portrait) and (max-height: 896px) {
    body {
        font-size: 18px;
    }
}
@media (orientation: portrait) and (max-height: 768px) {
    body {
        font-size: 16px;
    }
}
@media (orientation: portrait) and (max-height: 640px) {
    body {
        font-size: 14px;
    }
}
@media (orientation: portrait) and (max-height: 608px) {
    body {
        font-size: 13px;
    }
}
@media (orientation: portrait) and (max-height: 576px) {
    body {
        font-size: 12px;
    }
}
@media (orientation: portrait) and (max-height: 480px) {
    body {
        font-size: 11px;
    }
}
@media (orientation: portrait) and (max-height: 470px) {
    body {
        font-size: 10px;
    }
}
@media (orientation: portrait) and (max-height: 460px) {
    body {
        font-size: 9px;
    }
}
@media (orientation: portrait) and (max-height: 426px) {
    body {
        font-size: 8px;
    }
}
@media (orientation: portrait) and (max-height: 392px) {
    body {
        font-size: 7px;
    }
}
@media (orientation: portrait) and (max-height: 358px) {
    body {
        font-size: 6px;
    }
}
@media (orientation: portrait) and (max-height: 256px) {
    body {
        font-size: 5px;
    }
}

/*---------- Los demás =D ----------*/
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 auto;
    font-family: Roboto, arial, sans-serif;
}

.Pulse {
    animation-name: pulse;
    -webkit-animation-name: pulse;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: 2500;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }

    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
}

/*-------------------- HEADER --------------------*/
header {
    position: relative;
}

#idioma {
    position: absolute;
    right: 13%;
    top: 7%;
    font-size: 1.5em;
    font-weight: bold;
    color: white;

    /* Se ocultará el botón de manera temporal */
    display: none;
}

#botonNavegacion {
    position: absolute;
    right: 5.25%;
    top: 5.75%;
    height: 10.25%;
    width: auto;

    /* Se ocultará el botón de manera temporal */
    display: none;

}

.Portada {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    background: url(../img/fotoCabecera.jpg) center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh
}

#partePrimeraCabecera {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    width: 100%;
    flex-grow: 1;
}

.ContenedorLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #ffffff;
}

#logo {
    height: 50%;
}

.TituloHeader {
    font-size: .65em;
    color: rgb(14, 179, 191);
}

.BotonDescenderHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    width: 100vw;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    padding-bottom: 2%;
}

.BotonDescenderHeader a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-basis: 50%;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    -webkit-flex-basis: 50%;
    width: 50%;
}

.Descender img {
    width: 6vh;
}

@media (orientation: portrait) {
    .TituloHeader {
        font-size: 1em;
    }

    .Descender img {
        width: 25%;
    }
}

@media (orientation: landscape) and (max-width: 768px) {
    .BotonDescenderHeader a {
        display: none;
    }
}

@media (orientation: portrait) and (max-height: 768px) {
    .BotonDescenderHeader a {
        display: none;
    }
}

/*--------------------  BODY  --------------------*/

/*---------- SECCIÓN 1 ----------*/
.Seccion1 {
    background: url(../img/secPrimBack_recortada_oscurecido.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 4.4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
}

.TituloSeccion1 {
    color: #fff;
    text-align: center;
    font-size: 2.5em;
}

.Iconos {
    width: 22.5%;
}

.ContenedorCuadros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
}

.Cuadro {
    display: flex;
    flex-flow: column;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    -webkit-align-items: center;
    border-width: thin;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    flex-basis: 20%;
    -webkit-flex-basis: 20%;
    width: 20%;
    padding: 3% 1.5%;
}

.TituloCuadro {
    margin: 10% 0;
    font-size: .9em;
    font-weight: bold;
}

.TextoCuadro {
    text-align: left;
    font-size: 0.6em;
    line-height: 1.7em;
}

.TextoCuadro span {
    font-weight: bold;
}

.ListaCuadro {
    align-self: flex-start;
    margin-top: 1%;
    line-height: 1.7em;
    font-size: 0.6em;
}

.ListaCuadro li {
    margin: 3% 0;
}

#CuadroCentral {
    margin: 0 5%;
}

.BotonDescender {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    height: 5em;
}

.BotonDescender a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-basis: 50%;
    display:  -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    -webkit-flex-basis: 50%;
}

.BotonDescender img  {
    width: 6vh;
}

.BotonDescender2 img{
    width: 6vh;
    z-index: 1;
}

.BotonDescender3 img{
    width: 6vh;
}

@media (max-width: 768px) {
    .TituloSeccion1 {
        font-size: 4.9em;
    }

    .Iconos {
        width: 25%;
    }

    .ContenedorCuadros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-justify-content: center;
        -webkit-align-items: center;
    }

    .Cuadro {
        flex-basis: 50%;
        width: 50%;
        padding: 10% 3%;
    }

    .TituloCuadro {
        margin: 5% 0;
        font-size: 2.2em;
    }

    .TextoCuadro {
        font-size: 1.12em;
    }

    #CuadroCentral {
        margin: 5% 0;
        padding: 10% 3% 15% 3%;
    }

    .ListaCuadro {
        font-size: 1.1em;
    }

    .ContenedorMoviles {
        flex-direction: column;
    }

    .seccion1Moviles {
        margin-bottom: 5%;
    }

    .BotonDescender a {
        display: none;
    }

    .BotonDescenderHeader a {
        display: none;
    }
}

@media (orientation: portrait) and (max-height: 768px) {
    .TituloSeccion1 {
        font-size: 2.7em;
    }

    .Cuadro {
        flex-basis: 70%;
        width: 70%;
        padding: 15% 5%;
    }

    .TituloCuadro {
        font-size: 1.8em;
    }

    .TextoCuadro {
        font-size: 1em;
    }

    #CuadroCentral {
        margin: 5% 0;
        padding: 15% 3% 25% 3%;
    }

    .ListaCuadro {
        font-size: 1em;
    }
}

/*---------- SECCIÓN 2 ----------*/

.TituloCuadro2 {
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    margin: 10% 0;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
}

.ContenedorCuadros2 {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-flow: row wrap;
}

.CuadroSec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
    -webkit-flex-grow: 1;
    background-color: #e8e8e8;
    flex-basis: 30%;
    -webkit-flex-basis: 30%;
    min-width: 30%;
    margin: 0.3%;
    padding: 0 1% 0 1%;
    height: 10em;
}

.CuadroSec2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

#fondoColor, #fondoColor2, #fondoColor3 {
    background-color: #74C6D1;
}

.BotonDescender2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    height: 5px;
    width: 100vw;
}

.tituloSeccion2 {
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 25);
    color: #ffffff;
    background-color: #74C6D1;
    margin: 5% 0 0.5% 0;
    padding: 1%;
    text-align: center;
    font-size: 1.4em;
    align-self: center;
}

.IconosSeccion2 {
    width: auto;
    height: 20%;
}

.BotonDescender2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
}

@media (max-width: 768px) {

    .seccion2 {
        height: auto;
    }

    .tituloSeccion2 {
        font-size: 2em;
        margin-bottom: 5%;
    }

    .ContenedorCuadros2 {
        flex-flow: column nowrap;
    }

    .CuadroSec2 {
        height: 50vh;
        -moz-box-sizing: border-box;
    }

    .IconosSeccion2 {
        width: 20%;
        height: auto;
        margin-top: 15%;
    }

    .TituloCuadro2 {
        font-size: 2em;

    }

}

/* seccion 3 nueva*/

.seccion3 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    background-color: #ffffff;
}

.tituloSeccion3 {
    margin: 8% 0 5% 0;
    color: #74C6D1;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

#primeraDivision{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    -webkit-flex-basis: 50%;
}

.primeraSubdivision {
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    -webkit-flex-basis: 40%;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: -webkit-flex;
}

.segundaSubdivision {
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    -webkit-flex-basis: 60%;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

#SegundaDivision{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    -webkit-flex-basis: 50%;
}

#imagenMovil1, #imagenMovil2 {
    width: 20vw;
}

#iconoRiver {
    width: 20vw;
}

#iconoClicFish{
    width: 25vw;
    margin-top: 6vw;
}

.conjuntoIcnos {
    width: 3vw;
    margin: 5vw 0;
}

.google {
    margin-right: 2%;
    flex-basis: 90%;
    width: 90%;
    height: auto;
}

.ios {
    flex-basis: 100%;
    width: 100%;
    height: auto;
}

.iconoAndroid, .iconoIos {
    flex-basis: 40%;
    width: 40%;
}

.iconosTienda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    height: auto;
    width: 100%;
}

.BotonDescender3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    margin-bottom: 5%;
}


/* media */

@media (max-width: 768px) {

    .tituloSeccion3 {
        font-size: 4em;
    }

    .seccion3, #primeraDivision, #SegundaDivision{
        flex-direction: column;
    }

    #imagenMovil1, #imagenMovil2 {
        width: 50vw;
    }

    #iconoRiver {
        width: 50vw;
        margin-top: 10vw;
    }

    #iconoClicFish{
        width: 50vw;
        margin-top:10vw;
    }

    .conjuntoIcnos {
        width: 6vw;
        margin: 5vw 1vw 5vw 1vw;
    }

    .iconosTienda {
        margin-bottom: 15vw;
    }

    .google {
        margin-right: 2%;
        flex-basis: 90%;
        width: 90%;
        height: auto;
    }

    .ios {
        flex-basis: 100%;
        width: 100%;
        height: auto;
    }
}



/**********************/

/*  fin seccion 3 nueva */

/*---------- SECCIÓN 3 ----------*/


.seccion3 {
    height: 100vh;
}

.tituloSeccion3 {
    margin: 8% 0 5% 0;
    color: #74C6D1;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.ContenedorMoviles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
}

.seccion1Moviles, .seccion2Moviles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 50%;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-flex-basis: 50%;
}

.imagenMovil1, .imagenMovil2 {
    display: flex;
    height: auto;
    width: 80%;
    flex-basis: 50%;
    display: -webkit-flex;
    -webkit-flex-basis: 50%;
}

.iconoClicFish {
    height: auto;
    width: 95%;
    margin-top: 30%;
}

.iconoRiver {
    height: auto;
    width: 60%;
    margin-top: 18%;
}

.imgMovil, .imgLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    align-self: center;
    justify-items: start;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-basis: 50%;
    -webkit-align-self: center;
    -webkit-justify-items: start;
}

.imgLogos {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 50%;
    height: auto;
    flex-basis: 50%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-self: flex-start;
    -webkit-flex-basis: 50%;
}

.imgLogos h1 {
    font-size: 1em;
    color: #8c8c8c;
    text-align: center;
}

.iconosFunciones, .iconosTienda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 20px;
    height: auto;
    width: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
}

.iconosFunciones {
    margin-bottom: 15%;
}

#iconoFuncionesRv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
}

.conjuntoIcnos {
    width: 13%;
    height: 5%;
    margin: 0 1% 0 1%;
}

.google {
    margin-right: 2%;
    flex-basis: 90%;
    width: 90%;
    height: auto;
}

.ios {
    flex-basis: 100%;
    width: 100%;
    height: auto;
}

.iconoAndroid, .iconoIos {
    flex-basis: 50%;
    width: 50%;
}

.BotonDescender3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5%;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
}

.BotonDescender3 a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
}

@media (max-width: 768px) {

    .tituloSeccion3 {
        font-size: 4em;
    }

    .ContenedorMoviles {
        flex-direction: column;
    }

    .seccion1Moviles, .seccion2Moviles {
        flex-direction: column;
    }

    .iconoClicFish, .iconoRiver {
        margin: 5% 0;
    }

    .imgLogos {
        width: 100%;
        flex-basis: 100%;
        padding: 10%;
    }
}


/*---------- SECCIÓN 4 ----------*/
#sec4 {
    height: 100vh;
}

.Seccion4 {
    background: url(../img/foto_aquadata.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    height: 100vh;
}

#360fondo {
    width: 100%;
    height: auto;
}

.TituloSeccion4 {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 5%;
    color: #ffffff;
}

.contenedorFormularios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    padding: 5% 5% 5% 0;
    background: url(../img/360@3x.png) no-repeat;
    background-color: rgba(0, 0, 0, 0.25);
    background-size: 30%;
    background-position: center;
    height: 100vh;
}

.etiqueta {
    color: #ffffff;
    font-size: 0.6em;
    flex-basis: 20%;
    width: 10%;
    margin-right: 5%;
}

.formularioAsunto, .formularioEmail {
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    margin-bottom: 2.5%;
    width: 50%;
}

.campoAsunto, .campoEmail {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

.campoAsunto textarea, .campoEmail textarea {
    flex-basis: 100%;
    width: 100%;
    background-color: transparent;
    border: 1px solid #ffffff;
    scrollbar-arrow-color: #000066;
    scrollbar-base-color: #000033;
    scrollbar-track-color: #666633;
    scrollbar-face-color: #cc9933;
    scrollbar-shadow-color: #DDDDDD;
    scrollbar-highlight-color: #CCCCCC;
    resize: none;
    font-size: .7em;
    color: white;
}

.campoAsunto:hover textarea, .campoEmail:hover textarea {
    background-color: rgba(0, 0, 0, 0.5);
}

#iconoDepuracion, #fondoOcioGeneral, #iconoIdentificacion {
    background-color: #74C6D1;
}

/*------------------- Animaciones ----------------------*/

.CuadroSec2:hover{
    transform : perspective(2000px) translateZ(60px) rotateZ(0.5deg);
}

.CuadroSec2 img {
    -webkit-transition:all .9s ease;
    -moz-transition:all .9s ease;
    -o-transition:all .9s ease;
}
.CuadroSec2:hover img {
    -webkit-transform:scale(1.8);
    -moz-transform:scale(1.8);
    -ms-transform:scale(1.8);
    -o-transform:scale(1.8);
    transform:scale(1.8);
}

/* ------------------------------------------------------*/

#asunto {
    height: 200px;
    width: auto;
}

.btn {
    -moz-box-shadow: 1px 4px 8px 4px #757d73;
    -webkit-box-shadow: 1px 4px 8px 4px #757d73;
    box-shadow: 1px 4px 8px 4px #000000;
    background-color: #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #0EB3BF;
    font-size: 1em;
    width: 100%;
    text-decoration: none;
    text-shadow: 0 1px 100px #2f6627;
}

.botonEnviar {
    margin-top: 10%;
}

.btn:hover {
    background-color: #e0e0e0;
}

.btn:active {
    position: relative;
    top: 1px;
}

@media (max-width: 768px) {
    .BotonDescender2 img, .BotonDescender3 img {
        display: none;
    }

    .formularioAsunto, .formularioEmail {
        width: 80%;
    }

    .contenedorFormularios{
        padding: 0;
    }

    .formularioAsunto, .formularioEmail {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.5%;
        width: 100%;
    }

    .TituloSeccion4{
        font-size: 2em;
    }

    .etiqueta{
        font-size: 1.2em;
        width: 55%;
        margin: 2% 5% 1.5% 0;
    }

    .campoAsunto textarea, .campoEmail textarea{
        font-size: 1em;
    }



}

/*-------------------- FOOTER --------------------*/
footer {
    background: rgb(14, 179, 191);
    padding: 4% 0;
    color: #fff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
}

.ContactoRedesSociales {
    display: flex;
    flex-basis: 35%;
    width: 35%;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-basis: 35%;
    -webkit-justify-content: center;
}

.ContactoRedesSociales a {
    flex-basis: 14%;
    width: 14%;
    margin: 0 1%;
}

.ContactoRedesSociales a img {
    width: 80%;
    height: auto;
}

.Avisos {
    display: flex;
    flex-basis: 45%;
    width: 45%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: .65em;
    display: -webkit-flex;
    -webkit-flex-basis: 45%;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

.Avisos div {
    margin: 0 2%;
}

.Avisos div a {
    color: #fff;
    text-decoration: none;
}

.Copyright {
    width: 20%;
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    flex-direction: column;
    font-size: .65em;
    -webkit-flex-basis: 20%;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
}

@media (max-width: 1792px) {
    .Avisos {
        font-size: .6em;
    }

    .Copyright {
        font-size: .6em;
    }
}

@media (max-width: 1280px) {
    .ContactoRedesSociales, .Avisos, .Copyright {
        width: 100%;
        flex-basis: 100%;
    }

    .ContactoRedesSociales {
        justify-content: space-between;
        padding: 0 5%;
    }

    .ContactoRedesSociales a {
        flex-basis: 12%;
        width: 12%;
    }

    .ContactoRedesSociales div a img {
        width: 70%;
        height: auto;
    }

    #facebook img {
        content: url("../img/facebook@2x.png");
    }

    #twitter img {
        content: url("../img/twitter@2x.png");
    }

    #instagram img {
        content: url("../img/instagram@2x.png");
    }

    #youtube img {
        content: url("../img/youtube@2x.png");
    }

    #vimeo img {
        content: url("../img/vimeo@2x.png");
    }

    .Avisos {
        padding: 5% 0;
        font-size: 0.9em;
    }

    .Copyright {
        font-size: 0.9em;
    }

    .Avisos {
        font-size: 1.3em;
    }

    .Copyright {
        font-size: 1.3em;
    }
}

@media (max-width: 768px) {
    .Avisos {
        padding: 6% 0;
        font-size: 1.8em;
    }

    .Avisos div {
        flex-basis: 100%;
        width: 100%;
    }

    .Copyright {
        font-size: 1.8em;
    }
}