@charset "UTF-8";

/*-------------------- Gradilla de letra responsive --------------------*/
@media (max-width: 7680px) {
    body {
        font-size: 85px;
    }
}
@media (max-width: 6912px) {
    body {
        font-size: 80px;
    }
}
@media (max-width: 6144px) {
    body {
        font-size: 75px;
    }
}
@media (max-width: 3840px) {
    body {
        font-size: 70px;
    }
}
@media (max-width: 3584px) {
    body {
        font-size: 65px;
    }
}
@media (max-width: 3328px) {
    body {
        font-size: 60px;
    }
}
@media (max-width: 2560px) {
    body {
        font-size: 55px;
    }
}
@media (max-width: 2432px) {
    body {
        font-size: 50px;
    }
}
@media (max-width: 2304px) {
    body {
        font-size: 45px;
    }
}
@media (max-width: 1920px) {
    body {
        font-size: 40px;
    }
}
@media (max-width: 1792px) {
    body {
        font-size: 35px;
    }
}
@media (max-width: 1664px) {
    body {
        font-size: 30px;
    }
}
@media (max-width: 1280px) {
    body {
        font-size: 28px;
    }
}
@media (max-width: 1194px) {
    body {
        font-size: 26px;
    }
}
@media (max-width: 1109px) {
    body {
        font-size: 24px;
    }
}
@media (max-width: 1024px) {
    body {
        font-size: 22px;
    }
}
@media (max-width: 896px) {
    body {
        font-size: 20px;
    }
}
@media (max-width: 852px) {
    body {
        font-size: 19px;
    }
}
@media (max-width: 800px) {
    body {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    body {
        font-size: 17px;
    }
}
@media (max-width: 640px) {
    body {
        font-size: 16px;
    }
}
@media (max-width: 608px) {
    body {
        font-size: 15px;
    }
}
@media (max-width: 576px) {
    body {
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    body {
        font-size: 13px;
    }
}
@media (max-width: 470px) {
    body {
        font-size: 12px;
    }
}
@media (max-width: 460px) {
    body {
        font-size: 11px;
    }
}
@media (max-width: 426px) {
    body {
        font-size: 10px;
    }
}
@media (max-width: 392px) {
    body {
        font-size: 9px;
    }
}
@media (max-width: 358px) {
    body {
        font-size: 8px;
    }
}
@media (max-width: 256px) {
    body {
        font-size: 7px;
    }
}
/**/


/*-------------------- ESTILOS GLOBALES --------------------*/
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Roboto-Black, arial, sans-serif;
}



.pulse{
    animation-name: pulse;
    -webkit-animation-name: pulse;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: 2500;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }

}

.sombreado {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em
}



/*-------------------- HEADER --------------------*/

#idioma {
    position: absolute;
    right: 13%;
    top: 7%;
    font-size: 1.5em;
    font-weight: bold;
    color: white;

    /* Se ocultará el botón de manera temporal */
    display: none;
}

header {
    position: relative;
}

#botonNavegacion {
    position: absolute;
    right: 5.25%;
    top: 5.75%;
    height: 10.25%;
    width: auto;
    /* Se ocultará el botón de manera temporal */
    display: none;
}

.Portada {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: url(../img/fotoCabecera.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 26em;
}

#partePrimeraCabecera{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.contenedorLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}

#logo {
    width: 15%;
    height: auto;
    padding-top: 1%;
}

.tituloHeader {
    font-size: 0.5em;
    color: rgb(14, 179, 191);
}

.BotonDescenderHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    padding-bottom: 2%;
}

.BotonDescenderHeader a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.descender img {
    width: 25%;
}

/*--------------------  BODY  --------------------*/
.ContenedorSecciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---------- SECCIÓN 1 ----------*/
.Seccion1 {
    background: url(../img/secPrimBack_recortada_oscurecido.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 4.4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TituloSeccion1 {
    color: #ffffff;
    text-align: center;
    font-size: 2.5em;
}

.Iconos{
    width:30%;
    height: auto;
}

.ContenedorCuadros {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Cuadro {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-width: thin;
    border-color: #ffffff;
    border-style: solid;
    color: #fff;
    flex-basis: 20%;
    width: 20%;
    padding: 3% 1%;
}

.TituloCuadro {
    margin: 10% 0;
    font-size: .9em;
    font-weight: bold;
}

.TextoCuadro {
    font-family: Roboto-Black, arial, sans-serif;
    text-align: left;
    font-size: 0.6em;
}

.TextoCuadro span {
    font-weight: bold;
}

.ListaCuadro {
    align-self: flex-start;
    margin-top: 1%;
    font-size: 0.6em;
}

.ListaCuadro li {
    margin: 3% 0;
}

#CuadroCentral {
    margin: 0 5%;
}

.BotonDescender {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 5em;
}

.BotonDescender a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media (max-width: 768px) {

    .ContenedorCuadros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Cuadro {
        flex-basis: 40%;
        width: 40%;
    }

    .TituloCuadro {
        margin: 10% 0;
        font-size: 1.5em;
    }

    .TextoCuadro {
        font-size: 1.1em;
    }

    #CuadroCentral {
        margin: 5% 0;
    }

    .ListaCuadro {
        font-size: 1.1em;
    }

    .ContenedorMoviles {
        flex-direction: column;
    }

    .seccion1Moviles {
        margin-bottom: 5%;
    }
}

/*---------- SECCIÓN 2 ----------*/
.TituloCuadro2 {
    display: flex;
    justify-content: center;
    margin: 10% 0;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
}

.ContenedorCuadros2 {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.CuadroSec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: #e8e8e8;
    flex-basis: 30%;
    min-width: 30%;
    margin: 0.3%;
    padding: 0 1% 0 1%;
    height: 10em;
}

.CuadroSec2 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fondoColor, #fondoColor2, #fondoColor3 {
    background-color: #74C6D1;
}

.BotonDescender2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 5px;
}

.tituloSeccion2 {
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 25);
    color: #ffffff;
    background-color: #74C6D1;
    margin: 5% 0 0.5% 0;
    padding: 1%;
    text-align: center;
    font-size: 1.4em;
    align-self: center;
}

.IconosSeccion2 {
    width: auto;
    height: 20%;
}

.BotonDescender2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media (max-width: 768px) {

    .tituloSeccion2 {
        font-size: 4em;
        margin-bottom: 5%;
    }

    .ContenedorCuadros2 {
        flex-flow: column nowrap;
    }

    .CuadroSec2 {
        height: 500px;
    }

    .IconosSeccion2 {
        width: 20%;
        height: auto;
        margin-top: 15%;
    }

    .TituloCuadro2 {
        font-size: 2em;

    }

}

/*---------- SECCIÓN 3 ----------*/
.tituloSeccion3 {
    margin: 8% 0 5% 0;
    color: #74C6D1;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.ContenedorMoviles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seccion1Moviles, .seccion2Moviles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 50%;
}

.imagenMovil1, .imagenMovil2 {
    display: flex;
    height: auto;
    width: 80%;
    flex-basis: 50%;
}

.iconoClicFish {
    height: auto;
    width: 95%;
    margin-top: 30%;
}

.iconoRiver {
    height: auto;
    width: 60%;
    margin-top: 18%;
}

.imgMovil, .imgLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    align-self: center;
    justify-items: start;
}

.imgLogos {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 50%;
    height: auto;
    flex-basis: 50%;
}

.imgLogos h1 {
    font-size: 1em;
    color: #8c8c8c;
    text-align: center;
}

.iconosFunciones, .iconosTienda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 20px;
    height: auto;
    width: 100%;
}

.iconosFunciones {
    margin-bottom: 15%;
}

#iconoFuncionesRv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;

}

.conjuntoIcnos {
    width: 13%;
    height: 5%;
    margin: 0 1% 0 1%;
}

.google {
    margin-right: 2%;
    flex-basis: 90%;
    width: 90%;
    height: auto;
}

.ios {
    flex-basis: 100%;
    width: 100%;
    height: auto;
}

.iconoAndroid, .iconoIos {
    flex-basis: 50%;
    width: 50%;
}

.BotonDescender3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5%;
}

.BotonDescender3 a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media (max-width: 768px) {

    .tituloSeccion3 {
        font-size: 4em;
    }

    .ContenedorMoviles {
        flex-direction: column;
    }

    .seccion1Moviles, .seccion2Moviles {
        flex-direction: column;
    }

    .iconoClicFish, .iconoRiver {
        margin: 5% 0;
    }

    .imgLogos {
        width: 100%;
        flex-basis: 100%;
        padding: 10%;
    }
}

/*---------- SECCIÓN 4 ----------*/
.Seccion4 {
    background: url(../img/foto_aquadata.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#360fondo {
    width: 100%;
    height: auto;
}

.TituloSeccion4 {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 5%;
    color: #ffffff;
}

.contenedorFormularios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    width: 100%;
    padding: 5% 5% 5% 0;
    background: url(../img/360@3x.png) no-repeat;
    background-color: rgba(0, 0, 0, 0.25);
    background-size: 30%;
    background-position: center;
    height: 100%;
}

.etiqueta {
    color: #ffffff;
    font-size: 0.6em;
    flex-basis: 10%;
    width: 10%;
}

.formularioAsunto, .formularioEmail {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5%;
    flex-basis: 50%;
    width: 50%;
}

.campoAsunto, .campoEmail {
    flex-basis: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.campoAsunto textarea, .campoEmail textarea {
    flex-basis: 100%;
    width: 100%;
    background-color: transparent;
    border: 1px solid #ffffff;
    scrollbar-arrow-color: #000066;
    scrollbar-base-color: #000033;
    scrollbar-track-color: #666633;
    scrollbar-face-color: #cc9933;
    scrollbar-shadow-color: #DDDDDD;
    scrollbar-highlight-color: #CCCCCC;
    resize: none;
    font-size: .7em;
    color: white;
}

.campoAsunto:hover textarea, .campoEmail:hover textarea{
    background-color: rgba(0, 0, 0, 0.5);
}

#asunto {
    height: 200px;
    width: auto;
}

.btn {
    -moz-box-shadow: 1px 4px 8px 4px #757d73;
    -webkit-box-shadow: 1px 4px 8px 4px #757d73;
    box-shadow: 1px 4px 8px 4px #000000;
    background-color: #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #0EB3BF;
    font-size: 1em;
    width: 100%;
    text-decoration: none;
    text-shadow: 0 1px 100px #2f6627;
}

.botonEnviar {
    margin-top: 10%;
}

.btn:hover {
    background-color: #e0e0e0;
}

.btn:active {
    position: relative;
    top: 1px;
}

@media (max-width: 768px) {
    .BotonDescender, .BotonDescender2 img, .BotonDescender3 img {
        display: none;
    }
}

/*-------------------- FOOTER --------------------*/
footer {
    background: rgb(14, 179, 191);
    padding: 4% 0;
    color: #fff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ContactoRedesSociales {
    flex-basis: 35%;
    width: 35%;
    display: flex;
    justify-content: center;
}

.ContactoRedesSociales a {
    flex-basis: 14%;
    width: 14%;
    margin: 0 1%;
}

.ContactoRedesSociales a img {
    width: 80%;
    height: auto;
}

.Avisos {
    flex-basis: 45%;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.65em;
}

.Avisos div {
    margin: 0 2%;
}

.Avisos div a {
    color: #fff;
    text-decoration: none;
}

.Copyright {
    flex-basis: 20%;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 0.65em;
}

@media (max-width: 1280px) {
    .ContactoRedesSociales, .Avisos, .Copyright {
        width: 100%;
        flex-basis: 100%;
    }

    .ContactoRedesSociales a {
        flex-basis: 12%;
        width: 12%;
    }

    .ContactoRedesSociales div a img {
        width: 70%;
        height: auto;
    }

    #facebook img {
        content: url("../img/facebook@2x.png");
    }

    #twitter img {
        content: url("../img/twitter@2x.png");
    }

    #instagram img {
        content: url("../img/instagram@2x.png");
    }

    #youtube img {
        content: url("../img/youtube@2x.png");
    }

    #vimeo img {
        content: url("../img/vimeo@2x.png");
    }

    .Avisos {
        padding: 5% 0;
        font-size: 0.9em;
    }

    .Copyright {
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .Avisos {
        padding: 6% 0;
    }

    .Avisos div {
        flex-basis: 100%;
        width: 100%;
    }
}