#Responsiveimage{
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.primeraSeccion{
    width: 100%;
    height: auto;}

.contenedorPrincipal{
    position: relative;
    background-color: #0f0f0f;
}

.ContenedorCuadros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 40%;
}

.cuadro{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-width: thin;
    border-color: #ffffff;
    border-style: solid;
    color: #fff;
    width: 15%;
    height: auto;

}

#cuadroCenter{
    margin: 0 5%;
}

.cuadro p{
    padding: 2.5%;
    text-align: justify;
}



