/*-------------------- ESTILOS GLOBALES --------------------*/

/*---------- Gradilla de letra responsive ----------*/



/*----- Orientación horizontal -----*/
@media (orientation: landscape) and (min-width: 7681px) {
    body {
        font-size: 114px;
    }
}
@media (orientation: landscape) and (max-width: 7680px) {
    body {
        font-size: 104px;
    }
}
@media (orientation: landscape) and (max-width: 7131px) {
    body {
        font-size: 99px;
    }
}
@media (orientation: landscape) and (max-width: 6582px) {
    body {
        font-size: 94px;
    }
}
@media (orientation: landscape) and (max-width: 6034px) {
    body {
        font-size: 89px;
    }
}
@media (orientation: landscape) and (max-width: 5485px) {
    body {
        font-size: 84px;
    }
}
@media (orientation: landscape) and (max-width: 4937px) {
    body {
        font-size: 79px;
    }
}
@media (orientation: landscape) and (max-width: 4388px) {
    body {
        font-size: 74px;
    }
}
@media (orientation: landscape) and (max-width: 3840px) {
    body {
        font-size: 69px;
    }
}
@media (orientation: landscape) and (max-width: 3584px) {
    body {
        font-size: 64px;
    }
}

@media (orientation: landscape) and (max-width: 3328px) {
    body {
        font-size: 59px;
    }
}
@media (orientation: landscape) and (max-width: 3072px) {
    body {
        font-size: 54px;
    }
}
@media (orientation: landscape) and (max-width: 2816px) {
    body {
        font-size: 49px;
    }
}
@media (orientation: landscape) and (max-width: 2560px) {
    body {
        font-size: 44px;
    }
}
@media (orientation: landscape) and (max-width: 2432px) {
    body {
        font-size: 42px;
    }
}
@media (orientation: landscape) and (max-width: 2304px) {
    body {
        font-size: 40px;
    }
}
@media (orientation: landscape) and (max-width: 2176px) {
    body {
        font-size: 38px;
    }
}
@media (orientation: landscape) and (max-width: 2048px) {
    body {
        font-size: 36px;
    }
}
@media (orientation: landscape) and (max-width: 1920px) {
    body {
        font-size: 34px;
    }
}
@media (orientation: landscape) and (max-width: 1792px) {
    body {
        font-size: 32px;
    }
}
@media (orientation: landscape) and (max-width: 1664px) {
    body {
        font-size: 30px;
    }
}
@media (orientation: landscape) and (max-width: 1536px) {
    body {
        font-size: 28px;
    }
}
@media (orientation: landscape) and (max-width: 1408px) {
    body {
        font-size: 26px;
    }
}
@media (orientation: landscape) and (max-width: 1280px) {
    body {
        font-size: 24px;
    }
}
@media (orientation: landscape) and (max-width: 1152px) {
    body {
        font-size: 22px;
    }
}
@media (orientation: landscape) and (max-width: 1024px) {
    body {
        font-size: 20px;
    }
}
@media (orientation: landscape) and (max-width: 896px) {
    body {
        font-size: 18px;
    }
}
@media (orientation: landscape) and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}
@media (orientation: landscape) and (max-width: 640px) {
    body {
        font-size: 14px;
    }
}
@media (orientation: landscape) and (max-width: 608px) {
    body {
        font-size: 13px;
    }
}
@media (orientation: landscape) and (max-width: 576px) {
    body {
        font-size: 12px;
    }
}
@media (orientation: landscape) and (max-width: 480px) {
    body {
        font-size: 11px;
    }
}
@media (orientation: landscape) and (max-width: 470px) {
    body {
        font-size: 10px;
    }
}
@media (orientation: landscape) and (max-width: 460px) {
    body {
        font-size: 9px;
    }
}
@media (orientation: landscape) and (max-width: 426px) {
    body {
        font-size: 8px;
    }
}
@media (orientation: landscape) and (max-width: 392px) {
    body {
        font-size: 7px;
    }
}
@media (orientation: landscape) and (max-width: 358px) {
    body {
        font-size: 6px;
    }
}
@media (orientation: landscape) and (max-width: 256px) {
    body {
        font-size: 5px;
    }
}

/*----- Orientación vertical -----*/
@media (orientation: portrait) and (max-height: 7681px) {
    body {
        font-size: 114px;
    }
}
@media (orientation: portrait) and (max-height: 7680px) {
    body {
        font-size: 104px;
    }
}
@media (orientation: portrait) and (max-height: 7131px) {
    body {
        font-size: 99px;
    }
}
@media (orientation: portrait) and (max-height: 6582px) {
    body {
        font-size: 94px;
    }
}
@media (orientation: portrait) and (max-height: 6034px) {
    body {
        font-size: 89px;
    }
}
@media (orientation: portrait) and (max-height: 5485px) {
    body {
        font-size: 84px;
    }
}
@media (orientation: portrait) and (max-height: 4937px) {
    body {
        font-size: 79px;
    }
}
@media (orientation: portrait) and (max-height: 4388px) {
    body {
        font-size: 74px;
    }
}
@media (orientation: portrait) and (max-height: 3840px) {
    body {
        font-size: 69px;
    }
}
@media (orientation: portrait) and (max-height: 3584px) {
    body {
        font-size: 64px;
    }
}
@media (orientation: portrait) and (max-height: 3328px) {
    body {
        font-size: 59px;
    }
}
@media (orientation: portrait) and (max-height: 3072px) {
    body {
        font-size: 54px;
    }
}
@media (orientation: portrait) and (max-height: 2816px) {
    body {
        font-size: 49px;
    }
}
@media (orientation: portrait) and (max-height: 2560px) {
    body {
        font-size: 44px;
    }
}
@media (orientation: portrait) and (max-height: 2432px) {
    body {
        font-size: 42px;
    }
}
@media (orientation: portrait) and (max-height: 2304px) {
    body {
        font-size: 40px;
    }
}
@media (orientation: portrait) and (max-height: 2176px) {
    body {
        font-size: 38px;
    }
}
@media (orientation: portrait) and (max-height: 2048px) {
    body {
        font-size: 36px;
    }
}
@media (orientation: portrait) and (max-height: 1920px) {
    body {
        font-size: 34px;
    }
}
@media (orientation: portrait) and (max-height: 1792px) {
    body {
        font-size: 32px;
    }
}
@media (orientation: portrait) and (max-height: 1664px) {
    body {
        font-size: 30px;
    }
}
@media (orientation: portrait) and (max-height: 1536px) {
    body {
        font-size: 28px;
    }
}
@media (orientation: portrait) and (max-height: 1408px) {
    body {
        font-size: 26px;
    }
}
@media (orientation: portrait) and (max-height: 1280px) {
    body {
        font-size: 24px;
    }
}
@media (orientation: portrait) and (max-height: 1152px) {
    body {
        font-size: 22px;
    }
}
@media (orientation: portrait) and (max-height: 1024px) {
    body {
        font-size: 20px;
    }
}
@media (orientation: portrait) and (max-height: 896px) {
    body {
        font-size: 18px;
    }
}
@media (orientation: portrait) and (max-height: 768px) {
    body {
        font-size: 16px;
    }
}
@media (orientation: portrait) and (max-height: 640px) {
    body {
        font-size: 14px;
    }
}
@media (orientation: portrait) and (max-height: 608px) {
    body {
        font-size: 13px;
    }
}
@media (orientation: portrait) and (max-height: 576px) {
    body {
        font-size: 12px;
    }
}
@media (orientation: portrait) and (max-height: 480px) {
    body {
        font-size: 11px;
    }
}
@media (orientation: portrait) and (max-height: 470px) {
    body {
        font-size: 10px;
    }
}
@media (orientation: portrait) and (max-height: 460px) {
    body {
        font-size: 9px;
    }
}
@media (orientation: portrait) and (max-height: 426px) {
    body {
        font-size: 8px;
    }
}
@media (orientation: portrait) and (max-height: 392px) {
    body {
        font-size: 7px;
    }
}
@media (orientation: portrait) and (max-height: 358px) {
    body {
        font-size: 6px;
    }
}
@media (orientation: portrait) and (max-height: 256px) {
    body {
        font-size: 5px;
    }
}


/*---------- Estilos Globales Seccion 2 ----------*/

body{overflow-y: scroll;
    overflow-x: hidden;}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 auto;
    font-family: Roboto, arial, sans-serif;
}

.Pulse {
    animation-name: pulse;
    -webkit-animation-name: pulse;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: 2500;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

/*-------------------- HEADER --------------------*/
header {
    position: relative;
}

#idioma {
    position: absolute;
    right: 13%;
    top: 7%;
    font-size: 1.5em;
    font-weight: bold;
    color: white;

    /* Se ocultará el botón de manera temporal */
    display: none;
}

#botonNavegacion {
    position: absolute;
    right: 5.25%;
    top: 5.75%;
    height: 10.25%;
    width: auto;

    /* Se ocultará el botón de manera temporal */
    display: none;

}

.Portada {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    background: url(../img/fotoCabecera.jpg) center;
    background-size: cover;
    width: 100%;
    height: 100vh
}

#partePrimeraCabecera {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    width: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.ContenedorLogo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #ffffff;
}

#logo {
    height: 50%;
}

.TituloHeader {
    font-size: .65em;
    color: rgb(14, 179, 191);
}

.BotonDescenderHeader {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    width: 100vw;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    padding-bottom: 2%;
}

.BotonDescenderHeader a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    -webkit-flex-basis: 50%;
    width: 50%;
}

.Descender img {
    width: 6vh;
}

@media (orientation: portrait) {
    .TituloHeader {
        font-size: 1em;
    }

    .Descender img {
        width: 25%;
    }
}

@media (orientation: landscape) and (max-width: 768px) {
    .BotonDescenderHeader a {
        display: none;
    }
}

@media (orientation: portrait) and (max-height: 768px) {
    .BotonDescenderHeader a {
        display: none;
    }
}

/*--------------------  BODY  --------------------*/

/*---------- SECCIÓN 1 ----------*/

.Seccion1 {
    background: url(../img/secPrimBack_recortada_oscurecido.jpg) no-repeat;
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    height: 100vh;

}

.TituloSeccion1 {
    color: #fff;
    text-align: center;
    font-size: 2.5em;
}

.Iconos {
    width: 22.5%;
}

.ContenedorCuadros {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
}

.Cuadro {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    border-width: thin;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    width: 22vw;
    height: auto;
    padding: 5vh 1.5vw;
}

.TituloCuadro {
    margin: 10% 0;
    font-size: .9em;
    font-weight: bold;
}

.TextoCuadro {
    text-align: left;
    font-size: 0.6em;
    line-height: 1.7em;
}

.TextoCuadro span {
    font-weight: bold;
}

.ListaCuadro {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 1%;
    line-height: 1.7em;
    font-size: 0.6em;
}

.ListaCuadro li {
    margin: 3% 0;
}

#CuadroCentral {
    margin: 0 5%;
}

.BotonDescender {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    height: 5em;
}

.BotonDescender a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display:  -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    -webkit-flex-basis: 50%;
}

.BotonDescender img  {
    width: 6vh;
}

.BotonDescender2 img{
    width: 6vh;
    z-index: 1;
}

.BotonDescender3 img{
    width: 6vh;
}

@media (max-width: 768px) {

    .Seccion1{
       height: auto;
    }

    .TituloSeccion1 {
        font-size: 4.9em;
    }

    .Iconos {
        width: 25%;
    }

    .ContenedorCuadros {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
    }

    .Cuadro {
        width: 70vw;
        height: 60vh;
        padding: 6vh 3vh;
    }

    .TituloCuadro {
        margin: 5% 0;
        font-size: 2.2em;
    }

    .TextoCuadro {
        font-size: 1.12em;
    }

    #CuadroCentral {
        margin: 5vh;
        height: auto;
        padding: 10vh 3vh 15vh 3vh;
    }

    .ListaCuadro {
        font-size: 1.1em;
    }

    .ContenedorMoviles {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .seccion1Moviles {
        margin-bottom: 5%;
    }

    .BotonDescender a {
        display: none;
    }

    .BotonDescenderHeader a {
        display: none;
    }
}
/* media seccion1 */

@media (orientation: portrait) and (max-height: 768px) {

    #Seccion1{
        height: 250vh;
    }

    .TituloSeccion1 {
        font-size: 2.7em;
    }

    .Cuadro {
        width: 70vw;
        height: 55vh;
        padding: 6vh 5vw;
    }

    .TituloCuadro {
        font-size: 1.8em;
    }

    .TextoCuadro {
        font-size: 1em;
    }

    #CuadroCentral {
        margin: 5vh;
        width: 70vw;
        height: 55vh;
    }

    .ListaCuadro {
        font-size: 1em;
    }
}

/*---------- SECCIÓN 2 ----------*/

.seccion2{
    height: 100vh;
}

.TituloCuadro2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    margin: 10% 0;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
}

.ContenedorCuadros2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-justify-content: center;
    height: auto;
}

.CuadroSec2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-grow: 1;
    background-color: #e8e8e8;
    -ms-flex-preferred-size: 30%;
    /*  -webkit-flex-basis: 30%;
      flex-basis: 30%;*/
    width: 23vw;
    min-width: 30%;
    margin: 0.3%;
    padding: 0 1% 0 1%;
    height: 41vh;
}

.CuadroSec2 div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

#fondoColor, #fondoColor2, #fondoColor3 {
    background-color: #74C6D1;
}

.BotonDescender2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    height: 5px;
    width: 100vw;
}

.tituloSeccion2 {
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 25);
    color: #ffffff;
    background-color: #74C6D1;
    margin: 5% 0 0.5% 0;
    padding: 1%;
    text-align: center;
    font-size: 1.4em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    height: auto;
}

.IconosSeccion2 {
    width: auto;
    height: 20%;
}

.BotonDescender2 a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
}

@media (max-width: 768px) {

    .seccion2 {
       height: auto;
    }

    .tituloSeccion2 {
        font-size: 2em;
        margin-bottom: 5%;
    }

    .ContenedorCuadros2 {
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }

    .CuadroSec2 {
        height: 50vh;
        width: 100vw;
        -moz-box-sizing: border-box;
    }

    .IconosSeccion2 {
        width: 20%;
        height: auto;
        margin-top: 15%;
    }

    .TituloCuadro2 {
        font-size: 2em;

    }

}


/*---------- SECCIÓN 3 ----------*/


.Seccion3 {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 5vh;
}

.tituloSeccion3 {
    margin-bottom: 5%;
    color: #74C6D1;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.ContenedorMoviles {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
}

.seccion1Moviles, .seccion2Moviles {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    width: 50vw;
    height: auto;

}

#seccionClicFish,#seccionRiverView{
    height: 100%;
    padding-bottom: 5vh;
}

.imagenMovil1, .imagenMovil2 {
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 20vw;
    display: -webkit-flex;
}

.iconoClicFish {
    height: auto;
    width: 20vw;
}

.iconoRiver {
    height: auto;
    width: 20vw;
}

#tituloClic{
    margin: 5vh 0;
}

.imgMovil, .imgLogos {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    -ms-grid-column-align: start;
    justify-items: start;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-self: center;
    -webkit-justify-items: start;
    width: 50vw;
}

.imgLogos {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 50vw;
    height: auto;
    display: -webkit-flex;
    -webkit-align-self: flex-start;
    -ms-flex-pack: end;
        justify-content: flex-end;
}

.imgLogos h1 {
    font-size: 1.4em;
    color: #8c8c8c;
    text-align: center;
}

.iconosFunciones, .iconosTienda {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
    width: 20vw;
    display: -webkit-flex;
    -webkit-justify-content: center;
}

.iconosFunciones {
    margin-bottom: 5vh;
}

#iconoFuncionesRv {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
}

.conjuntoIcnos {
    width: auto;
    height: 2.6vw;
    margin: 0 1% 0 1%;
}

.google {
    margin-right: 2%;
    width: 9.58vw;
    height: auto;
}

.ios {
    width: 10vw;
    height: auto;
}

.iconoAndroid, .iconoIos {
    height: auto;
    width: 50vw;
}

.BotonDescender3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-bottom: 5%;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
}

.BotonDescender3 a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
}


@media (max-width: 768px) {

    .Seccion3 {
        height: auto !important;
    }

    .tituloSeccion3 {
        font-size: 2.5em;
    }

    .ContenedorMoviles {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .seccion1Moviles, .seccion2Moviles {
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100vw;
    }

    .conjuntoIcnos {
        width: auto;
        height: 6vh;

    }

    .iconoClicFish {
        height: auto;
        width: 70vw;
    }

    .iconoRiver {
        height: auto;
        width: 50vw;
    }

    .imagenMovil1, .imagenMovil2 {
        width: 70vw;
        height: auto;
    }

    .imgMovil, .imgLogos {
        width: 100vw;
        margin: 5vh 0;
    }

    .google{
        margin-right: 2vw;
        width: 38vw;
        height: auto;
    }

    .ios{
        width: 40vw;
        height: auto;
    }
    
    #seccionClicFish,#seccionRiverView{
    height: auto;
    padding-bottom: 5vh;
}
}

/*---------- SECCIÓN 4 ----------*/
#sec4 {
    height: 100vh;
}

.Seccion4 {
    background: url(../img/foto_aquadata.jpg) no-repeat;
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    height: 100vh;
}

#360fondo {
    width: 100%;
    height: auto;
}

.TituloSeccion4 {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 5%;
    color: #ffffff;
}

.contenedorFormularios {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    padding: 5% 5% 5% 0;
    background: url(../img/360@3x.png) no-repeat;
    background-color: rgba(0, 0, 0, 0.25);
    background-size: 30%;
    background-position: center;
    height: 100vh;
}

.etiqueta {
    color: #ffffff;
    font-size: 0.6em;
    margin-right: 5vw;
}

#etiquetaAsunto{
    margin-right: 5.8vw
}

.formularioAsunto, .formularioEmail {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-flex;
    margin-bottom: 2.5%;
}

.campoAsunto, .campoEmail {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
}

.campoAsunto textarea, .campoEmail textarea {
    width: 30vw;
    background-color: transparent;
    border: 1px solid #ffffff;
    scrollbar-arrow-color: #000066;
    scrollbar-base-color: #000033;
    scrollbar-track-color: #666633;
    scrollbar-face-color: #cc9933;
    scrollbar-shadow-color: #DDDDDD;
    scrollbar-highlight-color: #CCCCCC;
    resize: none;
    font-size: .7em;
    color: white;
}

.campoEmail textarea{
    height: 2.5vh;
}

.campoAsunto textarea{
    height: 40vh;
}

.campoAsunto:hover textarea, .campoEmail:hover textarea {
    background-color: rgba(0, 0, 0, 0.5);
}

#iconoDepuracion, #fondoOcioGeneral, #iconoIdentificacion {
    background-color: #74C6D1;
}

/*------------------- Animaciones ----------------------*/

.CuadroSec2:hover{
    transform : perspective(2000px) translateZ(60px) rotateZ(0.5deg);
}

.CuadroSec2 img {
    -webkit-transition:all .9s ease;
    -moz-transition:all .9s ease;
    -o-transition:all .9s ease;
}
.CuadroSec2:hover img {
    -ms-transform:scale(1.8);
    transform:scale(1.8);
}

/* ------------------------------------------------------*/

#asunto {
    height: 200px;
    width: auto;
}

.btn {
    box-shadow: 1px 4px 8px 4px #000000;
    background-color: #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #0EB3BF;
    font-size: 1em;
    width: 100%;
    text-decoration: none;
    text-shadow: 0 1px 100px #2f6627;
}

.botonEnviar {
    margin-top: 10%;
}

.btn:hover {
    background-color: #e0e0e0;
}

.btn:active {
    position: relative;
    top: 1px;
}

@media (max-width: 768px) {
    .BotonDescender2 img, .BotonDescender3 img {
        display: none;
    }

    .formularioAsunto, .formularioEmail {
        width: 80%;
    }

    .contenedorFormularios{
        padding: 0;
    }

    .formularioAsunto, .formularioEmail {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 2.5%;
        width: 100%;
    }

    .TituloSeccion4{
        font-size: 2em;
    }

    .etiqueta{
        font-size: 1.2em;
        width: 55vw;
        margin: 2% 5% 1.5% 0;
    }

    .campoAsunto textarea, .campoEmail textarea{
        font-size: 1em;
    }

    #asuntoEfecto{
        height: 30vh;
        width: 60vw
    }

    #emailEfecto{
        height: 3vh;
        width: 60vw
    }



}

/*-------------------- FOOTER --------------------*/
footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5% 0;
    background: rgb(14, 179, 191);
    text-align: center;
    color: #fff;
}

#ContactoRedesSociales {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
}

.BotonesIconos {
    display: inline-block;
    position: relative;
    margin: 0 1.5%;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 3vw;
    line-height: 3em;
    text-align: center;
    font-size: 1.5vw;
    background-color: rgb(14, 143, 155);
    cursor: pointer;
}

.BotonesIconos span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 0;
    height: 0;
    border-radius: 0;
    transition: all 0.3s;

}

.BotonesIconos:hover span {
    margin: -2.25vw;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 4.5vw;
}

#facebook span {
    background-color: #3B5998;
}

#twitter span {
    background-color: #4099ff;
}

#instagram span {
    /* Old browsers */
    background: #8a3ab9;

    /* FF3.6-15 */

    /* Chrome4-9,Safari4-5 */

    /* Chrome10-25,Safari5.1-6 */

    /* Opera 11.10-11.50 */

    /* IE10 preview */

    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(45deg, #8a3ab9 0%, #bc2a8d 50%, #bc2a8d 50%, #cd486b 100%, #e95950 100%);

    /* IE6-8 fallback on horizontal gradient */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a3ab9', endColorstr='#e95950', GradientType=1);
}

#youtube span {
    background-color: #c4302b;
}

#vimeo span {
    background-color: #45bbff;
}

.BotonesIconos i {
    position: absolute;
    top: 0;
    left: 0;
    width: 4.5vw;
    line-height: 4.7vw;
    font-size: 2.5vw;
    background: none;
    color: white;
    z-index: 1;
    transition: all 0.3s;
}

#Avisos {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    font-size: 1.5vw;
}

#Avisos div a {
    color: #fff;
    text-decoration: none;
}

#Avisos div a:hover {
    text-decoration: none;
    text-shadow: 0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 1);
    transition: text-shadow 0.3s ease-in-out;
}

#Copyright {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    font-size: 1.5vw;
}

@media (max-width: 768px) {
    footer {
        min-height: 40vh;
    }

    #ContactoRedesSociales, #Avisos, #Copyright {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }

    .BotonesIconos {
        margin: 0 2.5%;
        width: 12vw;
        height: 12vw;
        border-radius: 12vw;
    }

    .BotonesIconos:hover span {
        margin: -6vw;
        width: 12vw;
        height: 12vw;
        border-radius: 12vw;
    }

    .BotonesIconos i {
        width: 12vw;
        line-height: 12vw;
        font-size: 8.5vw;
    }

    #Avisos {
        font-size: 3.5vw
    }

    #Avisos div {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }

    #Copyright {
        -ms-flex-pack: end;
            justify-content: flex-end;
        font-size: 3.5vw;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    footer {
        min-height: 90vh;
    }
}

@media (max-width: 425px) {
    footer {
        min-height: 30vh;
    }
}
